.input {
  width: 250px;
  height: 30px;
  margin-top: 200px;
  margin-left: 500px;
}
.button {
  height: 36px;
  margin-left: 20px;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 2px 4px green;
  background-color: transparent;
}
.text-error {
  width: 300px;
  margin-top: 20px;
  margin-left: 500px;
  color: red;
}

.error {
  box-shadow: 0px 6px 22px red;
}
.completed {
  width: 300px;
  margin-top: 20px;
  margin-left: 500px;
  color: green;
  text-shadow: 1px 1px 5px green;
}